
<div class="container">
    <div class="raw">
        {{#each tracks}}
            <div class="col-md-4 m-3"> 
                <h3> {{name}} </h3> 
            </div>
            <div class="col-md-4"> 
                <figure>
                <audio controls src="{{preview_url}}"> </audio>
                </figure>
            </div>
        {{/each}}
    </div>
</div>
