
<div class="container tracks-cont">
    <div class="row mt-5">
        {{#each tracks}}
        <div class="col-md-4">
            <div class="track-name"> 
                <h3> {{name}} </h3> 
            </div>
            <div class="track-song"> 
                <figure>
                <audio controls src="{{preview_url}}"> </audio>
                </figure>
            </div>
        </div>
        {{/each}}
    </div>
</div>

